* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: peachpuff;
}

.container {
    width: 500px;
    max-width: 80%;
    background-color: white;
    border-radius: 25px;
    padding: 10px; 
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    gap: 10px;
}

.btn {
    background-color: purple;
    border-radius: 25px;
    color: seashell;
}

.btn:hover{
    background-color: salmon;
    color: slateblue;
}


.time-score {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: peachpuff;

}

.score, .time{
    background-color: purple;
    border-radius: 25px;
    color: seashell;
    width: 100px;
    height: 100px;
    margin: 0px 10px 10px 10px;
    text-align: center;
    font-size: 35px;
    
}

.hide {
    display: none;
}

.start-btn {

    background-color: purple;
    border-radius: 25px;
    color: seashell;
    width: 300px;
    height: 100px;
    margin: 0px 10px 10px 10px;
    text-align: center;
    font-size: 55px;
    text-decoration: none;
}

.controls {
    display: flex;
    justify-content: center;
}